@media screen and (max-width: 980px){
    .oneSquare-outer{
        background-color: yellow;
        width: 20%;
        height: 20%;
        float: left;
    }
    
    .oneSquare-inner{
        background-color: green;
        width: 20%;
        height: 20%;        
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 10%;
        
    }
    .tooSquar-midle{
        background-color: red;
        width: 20%;
        height: 20%;
        top: 50%;
        left: 10%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    .tooSquar-outer{
        background-color: green;        
        width: 20%;
        height: 20%;
        float: left;
    }
    .tooSquar-inner{
        background-color: yellow;
        width: 20%;
        height: 20%;        
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .circle{
        background-color: yellow;
        width: 20%;
        height: 20%;
        float: left;
    }


}
@media screen and (max-width: 480px) {
    .oneSquare-outer{
        width: 10%;
        height: 10%;
        float: none;
        
    }
    
    .oneSquare-inner{
        width: 10%;
        height: 10%;      
       
        
    }
    .tooSquar-midle{
        width: 10%;
        height: 10%;
        
    }
    
    .tooSquar-outer{
        position: relative;
        width: 10%;
        height: 10%;
        float: none;
    }
    .tooSquar-inner{
        width: 10%;
        height: 10%;
        
    }
    .circle{
        width: 10%;
        height: 10%;
        float: none;
    }
}