@media screen and (max-width: 480px) {
    #oneGreenSquar{
        width: 10%;
        height: 10%;
        float: none;
        
    }
    
    #oneYellowSquar{
        width: 10%;
        height: 10%;      
       
        
    }
    #tooGreenSquar{
        width: 10%;
        height: 10%;
        
    }
    
    #tooYellowSquar{
        position: relative;
        width: 10%;
        height: 10%;
        float: none;
    }
    #tooRedSquar{
        width: 10%;
        height: 10%;
        
    }
    #circle{
        width: 10%;
        height: 10%;
        float: none;
    }
}